.stf-fatal-message.stf-modal
  .modal-header.dialog-header-notify
    h4.modal-title.text-danger
      i.fa.fa-exclamation-circle.fa-fw
      span(translate) 提示
  .modal-body(translate) 您的购买时间已到，请及时充值！
  .modal-footer
    button.btn.btn-primary(type='button', ng-click='ok()')
      i.fa
      span(translate) 前往充值
