.device-stats {
  min-height: 100px;
  height: 100px;
  width:100%;
  text-align: center;
}

.device-stats [class^="col-"],
.device-stats [class*="col-"] {
  height: 100%;
  margin-bottom: 0;
}

.device-stats [class^="col-"]:last-child,
.device-stats [class*="col-"]:last-child {
  border: 0;
}

.device-stats [class^="col-"] .number,
.device-stats [class*="col-"] .number {
  font-size: 3.4em;
  font-weight: 100;
  line-height: 1.5em;
  letter-spacing: -0.06em;
}

.device-stats [class^="col-"] .number .icon,
.device-stats [class*="col-"] .number .icon {
  width: 50px;
  height: 38px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 12px 0 0;
}

.device-stats [class^="col-"] .text,
.device-stats [class*="col-"] .text {
  font-weight: 300;
  color: #aeaeae;
  text-transform: uppercase;
  font-size: 12px;
}

.device-stats .fa {
  font-size: 0.8em;
}
.topNav{
  width: 100%;
  height: 74px;
  background: linear-gradient(90deg, #0062CF 0%, #09C5EB 100%);
  padding: 0px 30px 0px 30px
}
.userMessageDiv{
  height: 74px;
  line-height: 74px;
  float: right;
  color: #fff;
  position: relative;
  text-align: right;
  padding-right: 20px;
}
.dangerSpan{
  color:#ff3333
}
.avSpan{
  display: inline-block;
  width:15px;
  height:15px;
  background: url(../../../common/icon/av.png)
    no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: -20px;
    top: 29px;
  
}

.dropWhiteSpan{
  display: inline-block;
  width:6px;
  height:6px;
  background: url(../../../common/icon/whitesanjiao.png)
    no-repeat center;
  background-size: 100% 100%;
  margin-left:5px

}
.logoDiv{
  background: url(../../../common/icon/logo.png) no-repeat 0 0;
  width: 119px;
  height: 46px;
  float: left;
  text-indent: -9999em;
  margin: 10px 10px 0 10px;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
}
@media (max-width: 600px) {
  .device-stats {
    min-height: 60px;
    height: 60px;
    text-align: center;
  }

  .device-stats .fa {
    font-size: 0.6em;
  }

  .device-stats [class^="col-"] .number,
  .device-stats [class*="col-"] .number {
    font-size: 1.8em;
    line-height: normal;
    font-weight: 300;
  }

  .device-stats [class^="col-"] .number .icon,
  .device-stats [class*="col-"] .number .icon {
    width: 25px;
    height: 19px;
    margin: 10px 6px 0 0;
  }

  .device-stats [class^="col-"] .text,
  .device-stats [class*="col-"] .text {
    font-size: 0.8em;
    font-weight: 500;
  }
  .startTime > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
