.div(style="margin:0" class="topNav")
  div(class="logoDiv")
  div(class="userMessageDiv")
    span(class="avSpan")
    span(style="margin-right:5px") {{currentUser.name}}  
    span [剩余配额  
    span(class="dangerSpan") {{counter.time.toFixed(2)}}
    span   分钟]
    span(class="dropWhiteSpan")
