ul.devices-icon-view {
  margin: 0;
  display: inline-block;
  list-style-type: none;
  font-family: 'HelveticaNeue-UltraLight', Helvetica, Arial, sans-serif;
}

ul.devices-icon-view li {
  width: 290px;
  height: 230px;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #e9e9e9;
  float: left;
  clear: none;
  margin: 6px;
  text-align: center;
}

ul.devices-icon-view li:active {
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
}


ul.devices-icon-view li:hover {
  background-color: #fcfcfc;
}

ul.devices-icon-view li:hover .device-photo-small img {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

ul.devices-icon-view .device-photo-small {
  margin-top: 0px;
  margin-bottom: 10px;
}

ul.devices-icon-view .device-photo-small img {
  float: left;
  /* margin: 20px; */
  width: auto;
  height: 100px;
  margin-top: 16px;
  margin-right: 0px;
  max-width: 95%; /* TODO: Fix this with a new container */
}

ul.devices-icon-view .device-photo-small div {
  float: left;
  color: #000;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul.devices-icon-view .device-name-bigtext {
  display: inline-block;
  width: 80%;
}

ul.devices-icon-view .device-name {
  color: #3FA9F5;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul.devices-icon-view .device-product {
  font-size: 16px;
  color: #555;
}

ul.devices-icon-view .device-is-busy {
  /* opacity: 0.6; */
  cursor: not-allowed;
  /*-webkit-filter: grayscale(100%);*/
  /*filter: grayscale(100%);*/
}

ul.devices-icon-view .device-is-busy .btn {
  cursor: not-allowed;
}

ul.devices-icon-view .device-is-busy .device-photo-small img {
  opacity: 0.5;
}

ul.devices-icon-view .device-status.state-available {
  display: none;
}

ul.devices-icon-view .device-name.state-available {
  white-space: normal;
  max-height: 45px;
}
.device-title{
  color: #000;
  margin: 10px 0;
  text-decoration:none;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}
h4{
  text-decoration:none;
  color: #333;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0px !important;
  font:14px Microsoft YaHei,SimHei,arial,SimSun;
}
p{
  color: #555;
  font-size: 12px;
  padding-left: 10px;
}
.clearfix{
  *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
.device-photo-small{
  width: 100%;
  height: 130px;
}
.pDiv{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clickA{
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.order-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  margin:0;
  padding: 0;
  cursor: pointer !important;
}

.back-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;;
  height: 100%;
  background: rgba(0, 0, 0, 0.631372549019608);
  /* opacity: 0.6; */
  color: #fff;
  display: none;
  text-align: left;
  border-radius: 5px;
}
.back-div-none{
  display: none !important;
}
.back-div > p{
  color: #fff;
  margin: 16px;
  font-size: 15px;
  text-align: left;
}
.back-div:first-child{
  font-size: 17px;
}

.clickA:hover .back-div{
  display: block;
}
.backDivBtnCanel,.backDivBtnenter{
  margin-left: 16px;
  cursor: pointer !important;
}
.btn-link-use {
  color: #03B615;
  text-decoration:none;
}

.not-allow{
  cursor: not-allowed !important;
}